<%@ Master Language="C#" AutoEventWireup="true" CodeFile="MasterPage.master.cs" Inherits="MasterPage" %>


<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Auction</title>
    <link href="../css/StyleSheet.css" rel="stylesheet"/>
</head>
<body>
    <form id="form1" runat="server" >
        <asp:ContentPlaceHolder id="MainContent" runat="server"></asp:ContentPlaceHolder>
    </form>
</body>
</html>
